p {
    color: red;
}

div {
    border: solid red 2px;
    height: 50px;
    width: 50px;
}

.div1 {
    border: solid blue 3px;
    height: 300px;
    width: 300px;
    position: absolute;
}

.div2 {
    border: solid green 3px;
    height: 300px;
    width: 300px;
    margin-left: 500px;
    position: absolute;
}

marquee {
    position: absolute;
    margin-top: 350px;
}

img {
    height: 300px;
    width: 300px;
    position: absolute;
}

.p1 {
    color: blue;
    position: absolute;
    margin-top: 350px;
}